*.swp
*.swo
*.o
*.a
*.dSYM
*.so
*.dylib
*.pyc
*~
/config.*
/aclocal.m4
/autom4te.cache/
/makefile.inc
/bin/
/c_api/bin/
/c_api/gpu/bin/
/tests/test
/tests/gtest/
faiss/python/swigfaiss_avx2.swig
/build
/build000
/compileScript
/_deps
/benchs
/CMakeFiles
/faiss/CMakeFiles
/faiss/gpu/CMakeFiles
/faiss/gpu/test/CMakeFiles
/tests/CMakeFiles
/demos
/cmake
/tutorial
/faiss/python
/tests
/.vscode
